* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

.first-screen {
  /*max-height: 980px;
  height: 100%;*/
  padding: 50px 280px 0px 280px;
  background-image: linear-gradient(#1daa7d, #005f55);
}

.second-screen {
  max-height: 980px;
  height: 100%;
}

.third-screen {
  max-height: 980px;
  height: 100%;
}

.fourth-screen {
  max-height: 980px;
  height: 100%;
}

.fifth-screen {
  max-height: 980px;
  height: 100%;
}

.sixth-screen {
  max-height: 980px;
  height: 100%;
}

.seventh-screen {
  max-height: 980px;
  height: 100%;
}

.logo-unimed {
  background: url("../../assets/logo_unimed.png");
  background-repeat: no-repeat;
  height: 80px;
  width: 255px;
}

.left-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  line-height: 110%;
  width: 324px;
  height: fit-content;
}

.left-text-bottom {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  line-height: 140%;
  width: 286px;
  height: fit-content;
  margin-top: 10px;
}

.first-screen-image {
  background: url("../../assets/first-screen-image.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 62px;
  height: 760px;
  width: 829px;
}

.top-text {
  color: #005f54;
  font-size: 30px;
  font-weight: 700;
  width: fit-content;
  margin-left: 100px;
}

.top-text span {
  font-size: 70px;
  font-weight: 700;
}

.lower-text {
  font-size: 30px !important;
  margin-left: 164px;
}

.left-green-bar {
  background: url("../../assets/green-left-bar.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 904px;
  width: 30px;
  position: relative;
  top: -100px;
}

.left-green-circles {
  background: url("../../assets/green-right-circles.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  width: 428px;
  position: absolute;
}

.left-orange-bar {
  background: url("../../assets/orange-left-bar.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 1100px;
  width: 30px;
  position: relative;
  top: -302px;
}

.left-orange-circles {
  background: url("../../assets/orange-right-circles.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  width: 428px;
  position: absolute;
  top: 2150px;
}

.bar-1970 {
  background: url("../../assets/barra_rolagem_1970.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 212px;
  width: 100px;
}

.bar-1980 {
  background: url("../../assets/barra_rolagem_1980.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 212px;
  width: 100px;
}

.bar-1990 {
  background: url("../../assets/barra_rolagem_1990.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 212px;
  width: 100px;
}

.bar-2000 {
  background: url("../../assets/barra_rolagem_2000.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 212px;
  width: 100px;
}

.bar-2010 {
  background: url("../../assets/barra_rolagem_2010.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 212px;
  width: 100px;
}

.bar-2020 {
  background: url("../../assets/barra_rolagem_2020.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 212px;
  width: 100px;
}

.left-purple-bar {
  background: url("../../assets/purple-left-bar.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 1140px;
  width: 30px;
  position: relative;
  top: -206px;
}

.left-purple-circles {
  background: url("../../assets/purple-right-circles.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  width: 438px;
  position: absolute;
  /*top: 3150px;
  left: -28px;*/
}

.left-light-green-bar {
  background: url("../../assets/light-green-left-bar.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 1062px;
  width: 30px;
  position: relative;
  top: -303px;
  left: 1px;
}

.left-light-green-circles {
  background: url("../../assets/light-green-circles.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  width: 438px;
  position: absolute;
  margin-left: -10px;
  margin-top: 50px;
}

.left-pink-bar {
  background: url("../../assets/pink-left-bar.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 1062px;
  width: 30px;
  position: relative;
  top: -278px;
  left: 1px;
}

.left-pink-circles {
  background: url("../../assets/pink-right-circles.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 654px;
  width: 456px;
  position: absolute;
  margin-top: 50px;
}

.left-ultra-light-green-bar {
  background: url("../../assets/ultra-light-green-left-bar.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 1062px;
  width: 30px;
  position: relative;
  top: -252px;
  left: 1px;
}

.left-ultra-light-green-circles {
  background: url("../../assets/ultra-light-green-circles.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 654px;
  width: 456px;
  position: absolute;
  margin-top: 50px;
  margin-left: -12px;
}

.mid-text {
  width: 360px;
  margin-left: 200px;
  margin-right: 180px;
}

.btn {
  width: 100%;
  max-height: 50px;
  max-width: 230px;
  height: 100%;
  border: solid 1px;
  border-radius: 24px;
  background: #005f54;
  color: white;
  font-weight: 700;
  position: relative;
}

.button-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone {
  background: url("../../assets/icone.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 24px;
  width: 25px;
}

.modal {
  max-width: 1100px;
  max-height: 800px;
  background-color: #005f54;
  border: 2px solid transparent;
  border-radius: 15px;
  display: block;
  left: 20%;
  top: 10%;
}

.photo-card {
  width: 756px;
  border: solid 8px white;
  border-radius: 15px;
}

.photo-columns {
  margin-left: 60px;
}

.legenda {
  width: 100%;
  color: white;
  max-width: 600px;
  margin-top: 20px;
}

.coluna-fotos {
  display: flex;
  flex-direction: column;
}

.photo-1-1970 {
  background: url("../../assets/1970/miniatura-1.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-2-1970 {
  background: url("../../assets/1970/miniatura-2.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-3-1970 {
  background: url("../../assets/1970/miniatura-3.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-4-1970 {
  background: url("../../assets/1970/miniatura-4.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-1-1980 {
  background: url("../../assets/1980/miniatura-1.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-2-1980 {
  background: url("../../assets/1980/miniatura-2.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-3-1980 {
  background: url("../../assets/1980/miniatura-3.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-4-1980 {
  background: url("../../assets/1980/miniatura-4.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-1-1990 {
  background: url("../../assets/1990/miniatura-1.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-2-1990 {
  background: url("../../assets/1990/miniatura-2.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-3-1990 {
  background: url("../../assets/1990/miniatura-3.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-4-1990 {
  background: url("../../assets/1990/miniatura-4.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-1-2000 {
  background: url("../../assets/2000/miniatura-1.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-2-2000 {
  background: url("../../assets/2000/miniatura-2.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-3-2000 {
  background: url("../../assets/2000/miniatura-3.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-4-2000 {
  background: url("../../assets/2000/miniatura-4.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-1-2010 {
  background: url("../../assets/2010/miniatura-1.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-2-2010 {
  background: url("../../assets/2010/miniatura-2.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-3-2010 {
  background: url("../../assets/2010/miniatura-3.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-4-2010 {
  background: url("../../assets/2010/miniatura-4.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-1-2020 {
  background: url("../../assets/2020/miniatura-1.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-2-2020 {
  background: url("../../assets/2020/miniatura-2.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-3-2020 {
  background: url("../../assets/2020/miniatura-3.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.photo-4-2020 {
  background: url("../../assets/2020/miniatura-4.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: solid 3px white;
}

.BrainhubCarousel__dots {
  flex-direction: column;
  margin-left: 20px;
  height: 570px;
  justify-content: space-evenly;
}

.BrainhubCarousel__dots .BrainhubCarousel__thumbnail {
  padding: 0;
  opacity: 0.5;
  background: transparent;
}

.BrainhubCarousel__dots .BrainhubCarousel__thumbnail:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 1400px) {
  .mid-text {
    margin-right: 66px;
  }
}

@media only screen and (max-width: 1200px) {
  .mid-text {
    margin-right: 20px;
    margin-left: 146px;
  }
}

@media only screen and (max-width: 1358px) {
  .first-screen-image {
    width: 792px;
  }
}

@media only screen and (max-width: 1316px) {
  .first-screen-image {
    width: 760px;
  }
}

@media only screen and (max-width: 1225px) {
  .first-screen {
    padding: 50px 220px 0px 150px;
  }
}

@media only screen and (max-width: 1108px) {
  .first-screen-image {
    width: 770px;
  }

  .first-screen {
    padding: 50px 240px 0px 60px;
  }
}

@media only screen and (max-width: 1030px) {
  .first-screen-image {
    width: 756px;
  }

  .first-screen {
    padding: 50px 250px 0px 25px;
  }
}

@media only screen and (max-width: 993px) {
  .bar-1970, .bar-1980, .bar-1990, .bar-2000, .bar-2010, .bar-2020 {
    display: none;
  }

  .anos1970 {
    margin-top: 280px !important;
  }

  .anos1980 {
    margin-top: 330px !important;
  }

  .left-green-circles {
    background: url("../../assets/1970-circle.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    height: 247px;
    width: 334px;
    position: absolute;
  }

  .left-orange-circles {
    background: url("../../assets/1980-circle.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    height: 278px;
    width: 362px;
    position: absolute;
  }

  .left-purple-circles {
    background: url("../../assets/1990-circle.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    height: 224px;
    width: 326px;
    position: absolute;
  }

  .left-light-green-circles {
    background: url("../../assets/2000-circle.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    height: 240px;
    width: 420px;
    margin-left: 0px;
    position: absolute;
  }

  .left-pink-circles {
    background: url("../../assets/2010-circle.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    height: 247px;
    width: 333px;
    position: absolute;
  }

  .left-ultra-light-green-circles {
    background: url("../../assets/2020-circle.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    height: 298px;
    width: 390px;
    position: absolute;
  }

  .mid-text {
    margin-top: 280px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 960px) {
  .anos1980 {
    margin-top: 480px !important;
  }

  .anos1990 {
    margin-top: 280px !important;
  }

  .anos2000 {
    margin-top: 300px !important;
  }

  .anos2010 {
    margin-top: 310px !important;
  }

  .anos2020 {
    margin-top: 380px !important;
  }
}

@media only screen and (max-width: 767px) {
  .button-text {
    font-size: 14px;
  }

  .mid-text {
    margin-top: -584px !important;
    margin-left: 100px;
  }

  .anos1990 {
    margin-top: -800px !important;
  }

  .anos2000 {
    margin-top: -679px !important;
    font-size: 13px !important;
  }

  .anos2010 {
    margin-top: -740px !important;
  }

  .anos2020 {
    margin-top: 84px !important;
  }
}

@media only screen and (max-width: 960px) {
  .first-screen-image {
    display: none;
  }

  .bar-1970, .bar-1980, .bar-1990, .bar-2000, .bar-2010, .bar-2020 {
    display: none;
  }

  .first-screen {
    height: 840px;
  }

  .unimed {
    flex-direction: row !important;
  }
}

@media only screen and (max-width: 576px) {
  .lower-text {
    margin-left: 0;
  }

  .first-screen {
    padding: 50px 20px 0px 20px;
  }

  .anos1970 {
    width: 252px !important;
    margin-top: 280px !important;
  }

  .anos1980 {
    width: 252px !important;
    margin-top: 490px !important;
  }

  .anos1990 {
    width: 252px !important;
    margin-top: 300px !important;
  }

  .anos2000 {
    width: 294px !important;
    margin-top: 346px !important;
    font-size: 13px !important;
  }

  .anos2010 {
    width: 252px !important;
    margin-top: 308px !important;
  }

  .anos2020 {
    width: 252px !important;
    margin-top: 372px !important;
  }

  .mid-text {
    width: 220px;
    font-size: 14px;
    margin-top: 300px;
    margin-left: -70px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 422px) {
  .anos2000{
    font-size: 12px !important;
  }
}


/*@media only screen and (max-width: 483px) {
  .anos2000 {
    font-size: 12px !important;
  }
}*/